<p><b> test</b> 
<button type="button" class="btn btn-outline-secondary"><a href="/logout">Logout</a></button> </p>

<button><a href='PUT IN THE BROWSE METHODS'>Browse Methods</a></button>
<button><a href='PUT IN THE BROWSE Users'>Browse Users</a> </button><br>
<button><a href='PUT IN THE NEW METHODS'>Submit a New Method</a></button>
<button><a href='PUT IN THE USER METHODS'>View/Edit Your Methods</a></button>
