<h2> Edit a Method </h2>

<form method="post" action="/methods/<%=@mephod.id%>">
  <input id="hidden" type="hidden" name="_method" value="PATCH">
  <input type="text" name="content" value="<%= @mephod.content %>">
  <input type="submit" value="submit">
</form>