<div class="container-fluid"><h4><center><%= @mephod.name %></center></h4> </div><br>
Language: <%= @mephod.language %> <br>
Description: <br>
<%= @mephod.description %><br>
Code:<br>
<% @mephod.mephod_data %><br>
Tags <br>
<%= @mephod.tag%>

